.dashboard {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
}

.poem-creator-page {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    max-width: 100%;
}

.new-poem-title {
    grid-row: 1 / 2;
    font-size: calc(3vw + 3vh + 1vmin);
    display: grid;
    align-content: center;
    justify-self: center;
    border-top: 2px white dashed;
    border-bottom: 2px white dashed;
    border-radius: 5%;
    margin-bottom: 1%;
}

table {
    grid-row: 2 / 3;
    border-radius: 5%;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    margin-bottom: 1%;
}

th, td {
    vertical-align: middle;
    border-radius: 3%;
}

th:nth-child(3),  td:nth-child(3) {
    width: 20%;
    height: auto;
    word-wrap:break-word;
    hyphens: auto;
}

th:nth-child(1), td:nth-child(1) {
    width: 10%;
    height: auto;
}

td:nth-child(2), th:nth-child(2) {
    width: 70%;
    height: auto;
}

.poem-stanza-list td:nth-child(1),
.poem-stanza-list td:nth-child(3) {
    font-size: calc(1vw + 1vh + 1vmin);
    border: 1px dotted white;
}
.poem-stanza-list td:nth-child(2) {
    font-size: calc(1.7vw + 1.7vh + 1vmin);
    border: 1px solid white;
} 


.addStanza-form {
    grid-row: 3 / 4;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns:  1fr 2fr;
    font-size: calc(2vw + 1.5vh + 1vmin);
    border-top: 2px white dashed;
    border-radius: 5%;
}

.addStanza-form .form-input {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    width: 40vw;
    height: auto;
    display: grid;
}

.form-input > input {
    width: 40vw;
    border: white 3px solid;
    border-radius: 5%;
    background: transparent;
    color: white;
}

.addStanza-form > * {
    align-self: center;
}

.addStanza-form > button {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-self: stretch;
    align-self: stretch;
    color: white;
    background-color: rgba(251, 251, 251, 0.500);
    border: transparent;
    font-size: calc(2vw + 2vh + 1vmin);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.addStanza-form > button:hover {
    color: rgba(201, 57, 214, 0.753);
}