.home {
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: space-around;
}


.login-form {
    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 5% 5%;
}

.login-form label {
    display: grid;
    grid-column: 1 / 2;
    font-size: calc(1.35vh + 2vw + 1vmin);
    padding-bottom: 3px;
    justify-self: stretch;
    align-self: stretch;
}

.login-form div {
    grid-column: 2 / 3;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
}

.login-form > button {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-self: stretch;
    align-self: stretch;
    color: white;
    background-color: rgba(251, 251, 251, 0.500);
    border: transparent;
    font-size: calc(2vw + 2vh + 1vmin);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.login-form > button:active {
    color: rgba(201, 57, 214, 0.753)
}

.home > div {
    grid-row: 2 / 3;
    margin: 5%;
    font-size: calc(1.8vw + 1.8vh + .5vmin);
}

