.site-info-container {
    height: 100%;
    width: 95%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: auto auto auto;
}

.info-content {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    display: grid;
    font-size: calc(2vh + 2vw + .5vmin);
}


.register-link {
    align-self: center;
    grid-row: 2 / 3;
}

.register-link > a {
    font-size: calc(2vh + 2vw + .5vmin);
}

.log-in-link {
    grid-row: 3 / 4;
    font-size: calc(1.5vh + 1.5vw + .5vmin);
    justify-self: center;
}

.log-in-link > a {
    font-size: calc(1.5vh + 1.5vw + .5vmin);
}