* {
  box-sizing: border-box;
  font-family: 'Mali', cursive;
}

html {
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

body, #root, .app {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #1976D2;
  background-image: url('https://ayoqq.org/images/collage-drawing-random-7.jpg');
  background-size: cover;
}

#root {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
}


h1 a {
  text-decoration: none;
}

h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
}

ul {
padding: 0;
margin: 0;
list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

a {
  color: rgba(201, 57, 214, 0.753)
}