* {
  box-sizing: border-box;
  font-family: 'East Sea Dokdo';
}

html {
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

body, #root, .app {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #1976D2;
  background-image: url('https://ayoqq.org/images/collage-drawing-random-7.jpg');
  background-size: cover;
}


h1 a {
  text-decoration: none;
}

h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
}

ul {
padding: 0;
margin-bottom: 0;
list-style-type: none;
}

a {
  color: rgba(201, 57, 214, 0.753)
}